body {background-color :gray;}
body {text-align: center;}
p {color: rgb(7,77,77);}
h1 {color:rgb(7, 77, 77);}
body {font-family:cursive;}
.flex-container {display:flex; flex-wrap:wrap; display:block;justify-content:space-around; border-radius:8px;}