body {text-align: center;}
body {background-color:rgb(137, 3, 3);}
body {font-family:serif}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(12, 7, 77);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color:rgb(12, 7, 77);
    background-color: transparent;
    font-size: 17px;
    transition: ease-in-out 0.5s;
  }